<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MonitoraAedes</title>
    <link rel="stylesheet" href="static/css/sucesso.css" />
  </head>
  <body>
    <div class="container">
      <h1>MonitoraAedes</h1>
      <p class="agradecimento-msg">
        Seu formulário foi recebido com sucesso! Sua contribuição é essencial para o combate ao
        Aedes. <br /><br />Com a sua ajuda, é possível identificar possíveis focos de proliferação
        do mosquito e tomar medidas preventivas para evitar sua disseminação!
      </p>
      <div class="voltar-home">
        <a href="/">VOLTAR AO SITE</a>
      </div>
    </div>
  </body>
</html>
