<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MonitoraAedes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/layout.css" />
  </head>
  <body>
    <div class="container-md">
      <nav class="pt-3 navbar navbar-expand-md navbar-content">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="nav navbar-nav justify-content-center gap-3">
            <li class="nav-item fs-6">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item fs-6">
              <a class="nav-link" href="/doencas">DOENÇAS</a>
            </li>
            <li class="nav-item fs-6">
              <a class="nav-link" href="/prevencao">PREVENÇÃO</a>
            </li>
          </ul>
        </div>
      </nav>

      <header class="mx-auto">
        <h1 class="text-center pt-2">MonitoraAedes</h1>
        <h2 class="text-center pt-1">Ambiente para auxílio no controle do <i>Aedes aegypti</i></h2>
        <hr class="border-danger opacity-50 w-25 mx-auto" />
      </header>
      <main class="col-md-8 mx-auto px-1">{% block content %}{% endblock %}</main>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
  ></script>
  {% block scripts %}{% endblock %}
</html>
